.App {
  text-align: center;
}



body {
  padding: 20px;
}

.cadre{
  border: 1px solid   rgb(179, 179, 179);
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

#dropdown{
  border: 1px solid   grey;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.dropdown-options{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid red;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title{
font-weight:600;
color: black;
padding-bottom: 10px;
}

.description{
  font-weight:500;
  color: gray;
  padding-bottom: 10px;
  }

  .line {
    border-top: 1px solid #ccc;
    margin: 10px 0; /* Adjust the margin as needed */
  }

  .cancel{
   background-color: white;
   border-radius: 5px;
   border: 1px solid grey;
   padding-inline: 12px;
   font-weight: 600;
   padding-block: 4px;
  }

  .active{
    background-color: #A020F0;
    border-radius: 5px;
    border: 1px solid grey;
    padding-inline: 12px;
    font-weight: 600;
    padding-block: 4px;
    color: white;
   }

   .buttons{
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid rgb(156, 156, 156);
    padding-inline: 12px;
    font-weight: 600;
    padding-block: 4px;
   }

  .cadre > div > p{
    font-weight:500;
    color: gray;
  }





   /* Avatar.css */
.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar-img {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.online-indicator {
  position: absolute;
  bottom: 2px;
  right: 1px;
  width: 15px;
  height: 15px;
  background-color: rgb(66, 212, 66);
  border-radius: 50%;
  border: 2px solid #fff; /* Add a white border for better visibility */
}

.name-user{
  font-weight: 600;
  height: 9px;
}

.online-time{
  font-weight: 300;
  color: rgb(129, 129, 129);
}

.reaction{
  font-weight: 500;
  color: black;
}

.description-post{
  padding: 10px;
  font-weight: 500;
  color: black;
  position: relative;
}

.one-photo{
  padding: 10px;
  /*width: 100%;*/
  max-width: 100%;
  height: auto;
  position: relative;
}
.media-container {
  position: relative;
  display: block;
  /* margin: 2px; */
  flex: 1;
  overflow: hidden;
  width: 100%; 
  height: auto;
}


.delete-album{
  position: absolute;
  top:12px; 
  right: 12px; 
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%; 
  display: block;
  cursor: pointer;
  z-index: 1; 
}
.media-container:hover .delete-album {
  display: block;
}

.delete-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  display: block;
}

.description-post:hover .delete-overlay {
  display: block;
}

.delete-overlay:hover {
  color: black;
}

.media-row {
  display: flex;
  justify-content: start;
  margin-bottom: 10px; /* espace entre les lignes des images */
  flex: 1;
  overflow: hidden;
}

.media-container.with-overlay img {
  /* style pour l'image avec un overlay pour montrer qu'il y a plus d'images */
  opacity: 0.5; /* exemple pour griser l'image */
}

.media-container.overlay {
  /* style pour le conteneur d'overlay pour afficher "+n" */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Exemple de taille de police pour le +n */
  color: white; /* couleur du texte */
  background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent pour le texte */
}

/* Spécificités lorsque le nombre d'images est 3 */
.media-row.three .album {
  height: calc(100vw / 3); /* Assure la hauteur égale si vous voulez une présentation carrée */
}

.media-row.three .media-container {
  width: calc(50% - 4px); /* Ajuster pour l'espace de 2px de marge */
}

.media-row.three .media-container:first-child {
  width: calc(50% - 2px); /* Ajuster pour l'espace de 2px de marge, seulement pour la première image sur la première ligne */
}

/* Spécificités lorsque le nombre d'images est 5 */
.media-row.two, .media-row.three-and-two {
  display: flex;
  justify-content: space-between;
}

.media-row.two .media-container, .media-row.three-and-two .media-container:nth-last-child(-n+3) {
  width: calc(33.333% - 4px); /* La largeur de chaque image lorsque 3 se trouvent dans une ligne */
}

.media-row.two .media-container:first-child, .media-row.three-and-two .media-container:nth-child(n+4):first-child {
  width: calc(66.666% - 4px); /* La largeur de la première image si elle doit être double */
}

.single-row {
  display: flex;
  flex-wrap: nowrap;
}

.full-width-row {
  width: 100%;
}

.three-images-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}


.trois{

height: 206px;

}
.trois img{
object-fit:fill;

  width: 100%;
  height: 100%;
  }


.tow{
 
height:338px;
}

  .album{
    padding: 10px; 
   
    /*height: 250px;*/

    display: block;
  }
.media-container.album{
  height:50%;
}
.collectmedia{
  filter: saturate(150%) brightness(50%); /* Augmente la saturation des couleurs bleues et ajuste la luminosité */

  position: absolute;
}
.numbers{display: none;}

.play{
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  bottom: 110px;
  height: 100%;
}

.calendrier{
  display: none;
}

.program{
  position: relative;
}

.calendrier.show{
  display: block;
  position: absolute;
 bottom: 35px;
 right:  2px;

}

.custom-picker {
  background-color: white; 
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #3498db; /* Couleur de la bordure du spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animation de rotation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tcheck{
  background-color: white;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

.programme{
  display: flex;
}

.audio-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 35px;
}

.audio-container:hover {
  background-color: #e5e5e5;
}

.audio-container svg {
  fill: #333;
}

